/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

body{
    background: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Work Sans', sans-serif;
}

.title{
    font-size: 30px;
    color: #C9D1CD;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 500;
}
/* Main container */
.container{
    width: 400px;
    border-radius: 15px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Timers styles */
.timer-container{
    border: 1px solid #dededebe;
    box-shadow: 3px 3px 10px #dededeac;
    border-radius: 10px;
    width: 90%;
    padding: 15px;
    /* padding: 20px; */
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

/* Time counter */
.time{
    font-weight: bold;
    font-size: 35px;
    color:#ED4344;
    font-weight: 500;
}
/* Buttons Styles */
.buttons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    width: 98%;
}
.btn{
    padding: 12px 30px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    color: #fff;
}
.start{
background:#22C45E;
}
.stop{
background:#ED4344;
}

.reset{
    background:#0F83BB;
}

.copyright{
    font-size: 16px;
    color: #C9D1CD;
    margin: 80px 0 20px;
    font-weight: 400;
}
@media screen and (max-width:577px) {
    .container{
        width: 85%;
    }

        .buttons {
            gap: 20px;
        }
    
        .btn {
            padding: 10px 20px;
            font-size: 16px;

        }
}

